.mainContainer{
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.loginTable{
    margin: 30px auto;
    margin: 2;
    
    width: 83%;
    text-align: center;
    border-radius: 14px;
}
.loginTable h1{
    padding-top: 130px;   
    
}
#inputLogin{
    color:#216cf3d9;
    width: 170px;
    margin: 20px;
    font-weight: 700;
}
form p{
    padding: 0px 0px 20px;
}
.inputRadius {
    border-radius: 5px;
}
.signUp{
    color:#216cf3d9;
    text-decoration: none;
}