*{
    margin: 0;
    padding: 0;     /* 0819add */
}
.seccion{
    display: flex;
    height: 600px;
}
.hidden{
    display: none;
}
/* navbar */
.container {
    display: flex;
    overflow: hidden;
  }
  .nav{
    flex: 1;
    display: block;
    background-color: rgb(139, 170, 255);
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
  }
  .nav-greet{
    display: flex;
    align-content: flex-end;
    padding: 5px;
    color: white;
  }
  h2.greeting{
    background-color:rgba(59, 59, 255, 0.7);
    height: fit-content;
    padding: 5px;
    position: relative;
    color: white;
    padding-top: 20px;
  }
  .nav-menu-item{
    margin: 5px;
    padding: 5px;
  }
  a{
    text-decoration: none;
    color: black;
    padding: 5px;
  }
  .nav-menu-item{
    padding: 5px;
  }
  .main-body{
    flex: 5;
    width: 75%;
    height: 100vh;   
  }
  .mobile-nav{
    display: none;
  }
  .mobile-nav-bottom{
    display: none;
  }

/* navbar */



.popup-wrapper{
    
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.addMemo{    
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: fit-content;    
    background: white;
    text-align: center;
}
#addMemo-DeleteBtn{
    left: 200px;
    position: relative;
    margin: 5px;
}
form textarea{    
    display: block;
}
.fakeBar{
    width: 17%;
    height: 100%;
    background: gray;
}
.rightMain{
    width: 100%;  
       
     
}
.welcomeText{
    padding: 30px;
    margin-top: 30px;
}

.welcomeText h2{
    /* text-align: center; */
}
.miniFunction{
    display: flex;
    justify-content: flex-end;
}
.gridFunction{
    /* background: #0072ff80; */
}
.gridFunction img{
    width: 35px;
    padding: 0px 10px;
}
.memolist{         
    display: flex;
    flex-wrap: wrap;
}
.memo{
    width: 22%;
    margin: 16px;
    box-shadow: 2px 4px 5px rgb(71 61 128 / 22%);
    background: white;
}
/*fontmaily*/
.fontNSJ{
    font-family: 'Noto Sans JP', sans-serif;
}
/* color */
.blue{
    color:#216cf3d9;
}
.orange{
    color:#f46236d1;
}
.green{
    color:#2ec578c7;
}
.yellow{
    color:#f3d921d9;
}
.purple{
    color:#673ab7d4;
}
.bg-blue{
    background:#216cf3d9;
}
.bg-orange{
    background:#f46236d1;
}
.bg-green{
    background:#2ec578c7;
}
.bg-yellow{
    background:#f3d921d9;
}
.bg-purple{
    background:#673ab7d4;
}

.todoDate{
    display: none;
}
.memoTopBorder{    
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    height: 4px;
}

.memoTopBar{
    display: flex;
    justify-content: space-between;
}
.memoType{
    border-radius: 7px;
    width: fit-content;
    padding: 6px;
    background: lavender;
    margin: 13px;
}

.memoContent{    
    padding: 0px 10px 10px 10px;
    line-height: 20px;
}
.memoMiniFunction{
    padding: 10px;
}

/* mobile */

.mobileSeccion{
    width: 100%;
    background: #9e9e9e26;  
}
.mobileTopBar{
    display: flex;
    justify-content: space-between;
}
.todayTodo{
    display: none;
    padding: 15px;
    color: #2424cee3;
}
.tomorrowTodo{
    display: none;
    padding: 15px;
    color:#f3d921d9;
}

.Category{
    padding: 5px 14px;
    margin: 13px;
    border-radius: 11px;
    background: #216cf33d;;

}
.mobileMiddle{
    height: 450px;
    background: #f5deb32e;
}
.addBtn{
    /* visibility: hidden; */
    background:#216cf3d9;
    border-radius: 79px;
    color: white;
    font-size: 36px;
    padding: 2px 13px;
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 100;
}

.footer{
    display: none;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 14px 5px 12px rgb(71 61 128 / 67%);
}
.footer svg{
    padding: 12px;
}

@media only screen and (max-width:500px){

    /* leftNavbar */
    .nav{
        visibility: hidden;
      }
      .visibility{
        visibility:visible;
      }
      .main-body{
        width: 100vw;
        height: 100vh;    
      }
      .mobile-nav{
        /* display: block; */
        background-color: white;
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* z-index: -1; */
      }
      .nav-banner{
        height: 15vh;
        background-color: rgba(59, 59, 255, 0.7);
        padding: 5px;
      }
      .nav-banner h3{
        color: white;
        position: relative;
        z-index: 1;
        top: 50px
      }
      .nav-dropdown{
        display: flex;
        flex-direction: column;  
        padding: 5px;
      }
      .nav-dropdown-btn{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      .nav-dropdown-item{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      hr{
        margin-left: 10px;
        margin-right: 10px;
      }
      .nav-function{
        display: flex;
        flex-direction: column;
        padding: 5px;
      }
      .nav-function-item{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      .mobile-nav-bottom{
        display: flex;    
        position: sticky;
        top: 95vh;
        justify-content: space-around;
        align-content: center;
        z-index: 1;
      }
      .mobile-nav-icon{
        font-size: 30px;    
      }
      
    /* .fakeBar{
        display: none;
    } */
    .welcomeText{
        display: none;
    }

     .memo{        
        width: 100%;        
    }     
    
    .todayTodo{
        display: block;
    } 
    .tomorrowTodo{
        display: block;
    }
    
    .addBtn{
        visibility: visible;
    }
    .footer{
        display: flex;
    }
    
    .memolist{        
        display: flex;
    }
    .memoContent{
        color: #2424cee3;
        margin: auto;
        padding: 17px 10px;
    } 
}