/* @import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"); */
body,
html {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    font-family: 'Noto Sans JP', sans-serif;
    /* background-color: tan; */
    /* overflow: hidden; */
    /* position: relative; */
    outline: none;
    /* perspective: 1000px; */
}
.popup-wrapper, .popup-update-area {    
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.hidden{
    display: none ;
}

.add-btn{
    /* visibility: hidden; */
    background:#216cf3d9;
    border-radius: 79px;
    color: #ffffffcf;
    font-size: 36px;
    padding: 2px 18px;
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 100;
}
.add-btn:hover{
    color: white;
    padding: 3px 20px;   
    
}
.add-memo{    
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: fit-content;    
    background: white;    
}
#add-memo-delete-btn,#popup-memo-close-button{
    left: 290px;
    position: relative;
    margin: 5px;
}

form textarea{    
    display: block;
    margin: 5px;
}
form div{
    padding: 4px;
}
div select{
    border-radius: 3px;
    width: 132px;
    height: 23px;   
}
#submit-btn, #update-btn{
    padding: 4px;
    width: 56px;
    margin: 10px;
    border-radius: 12px;
    background: rgba(59, 59, 255, 0.7);
    color: white;
} 
.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* max-width: 1200px; */
    margin: 5px;
    margin: auto;
    box-sizing: border-box;
    /* transform: translate(-50%, -50%); */
    /* transition: all 0.195s ease;
    transform-style: preserve-3d; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
}

.main.is-rotated-left {
    transform: translate(-50%, -50%) rotateY(-4deg);
}

.main.is-rotated-right {
    transform: translate(-50%, -50%) rotateY(4deg);
}

.main .sideb,
.main .right-wrapper {
    flex-grow: 1;
    flex-basis: 337px;
    background-color: white;
    width: 100%;
    float: left;
    height: 100%;
    margin: auto;
    max-height: 70%;
    /* max-width: 500px; */
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main .header {
    padding: 15px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main .header i {
    padding: 0 5px;
    cursor: pointer;
}

.main .header span {
    display: inline-block;
    margin: 0 3px;
    font-weight: 700;
}

.main .right-wrapper {
    background-color: #f05855;
    color: white;
    transform-origin: left center;
    transform: rotateY(110deg);
    transition: all 0.5s;
}

.main .right-wrapper.is-active {
    transform: rotateY(0deg);
}

.main .right-wrapper .header {
    text-align: left;
    justify-content: center;
}

.main .right-wrapper .day {
    font-size: 12em;
    text-indent: -12px;
    display: block;
}

.main .right-wrapper .month {
    font-size: 2.5em;
}

.main .sideb .showDate {
    color: white;
    text-align: right;
    width: 100%;
}

.main .sideb .showDate i {
    cursor: pointer;
    background: #f05855;
    border-radius: 4px;
    padding: 8px 12px;
    transform: scale(1);
    transition: all 0.3s;
}

.main .sideb .showDate i.is-active {
    transform: scale(-1);
}

.main .sideb table {
    text-align: center;
    width: 90%;
    margin: 30px auto 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.main .sideb table tbody:before {
    content: "-";
    display: block;
    line-height: 0.75em;
    color: transparent;
}

.main .sideb table th {
    color: #f05855;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main .sideb table td {
    padding: 11px 5px;
    color: #ced0ce;
    font-size: 0.75em;
    transition: all 0.3s;
    position: relative;
}

.main .sideb table td::before {
    content: "";
    display: none;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -8px);
    background-color: #f05855;
}

.main .sideb table td.currentDay::before {
    display: block;
}

.main .sideb table td.selectable {
    color: #303633;
    cursor: pointer;
}

.main .sideb table td.selectable:hover {
    background: #f05855;
    color: white;
}

.main .sideb table td.between {
    background-color: #333;
    color: white;
}

.main .sideb table td.active,
.main .sideb table td.hover {
    background: #f05855;
    color: white;
}

.to-do-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;    
    height: 389px;
    /* flex-grow: 1; */
    /* flex-basis: 500px; */
    /* background-color: bisque; */
    /* margin-left: 2rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.to-do-list-header {
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color:#216cf3d9;
    color: white;
}

.to-do-list-items {
    height: 100%;
    padding: 5px;
    margin-left: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.to-do-list-item {
    transition: 0.3s;
    width: 95%;
    padding: 4px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgb(71 61 128 / 22%);
    background: white;
}

.to-do-list-item-border {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: goldenrod;
    height: 4px;
}

.to-do-list-item-header {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.to-do-list-item-header-task-type {
    border-radius: 7px;
    width: fit-content;
    padding: 6px;
    background: lavender;
    margin: 13px;
}

.to-do-list-item-content {
    padding: 0px 10px 10px 10px;
    line-height: 20px;
}

.to-do-list-item-mini-function {
    padding: 0px 10px 10px 10px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
}

.to-do-list-item-mini-function div {
    border-radius: 20%;
}

.to-do-list-item-mini-function:hover {
    cursor: pointer;
}

.to-do-list-details {
    height: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    align-self: center;
    margin: auto;
}

.calender-picker {
    flex-grow: 1;
    flex-basis: 337px;
    width: 100%;
    height: 100vh;
    margin: auto;
}

/*--------------navbar ------*/
.nav{
    flex: 1;
    display: block;
    background-color: #216cf3d9;
  }
  .show{
    display: block !important;
    /* display: flex; */
}
  .nav-menu{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .nav-greet{
    display: flex;
    align-content: flex-end;
    padding: 5px;
    color: white;
  }
  h2.greeting{
    background:#216cf3d9;
    box-shadow: 2px 4px 5px rgb(71 61 128 / 9%);
    margin: 0px;
    height: fit-content;
    width: max-content;
    padding: 80px;   
    color: white;
  }
  .nav-menu-item{
    box-shadow: 2px 4px 5px rgb(71 61 128 / 9%);
    color: #ffffffcf;
    margin: 5px;
    padding: 18px;
    font-weight: 700;
  }
  .nav-menu-item:hover{
    color: white;
  }
  /*------------------------upper-wrapper------------------------*/
  .popup-wrapper, .popup-update-area {    
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.add-memo{    
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: fit-content;    
    background: white;    
}
#add-memo-delete-btn,#popup-memo-close-button{
    left: 290px;
    position: relative;
    margin: 5px;
}

form textarea{    
    display: block;
    margin: 5px;
}
form div{
    padding: 4px;
}
div select{
    border-radius: 3px;
    width: 132px;
    height: 23px;   
}
#submit-btn, #update-btn{
    padding: 4px;
    width: 56px;
    margin: 10px;
    border-radius: 12px;
    background: rgba(59, 59, 255, 0.7);
    color: white;
}
  /*------------footer-------------*/
  .footer{
    display: none;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 14px 5px 12px rgb(71 61 128 / 67%);
}
.footer button{
    background: white;
    border: none;
    margin: 0px 12px;
    padding: 10px 13px;
}

.footer button:hover{    
    box-shadow: inset 5em 10em #26262812;
}

@media only screen and (max-width: 700px) {
    .main {
        flex-direction: column;
        width: 95%;
        /* max-height: 100vh; */
    }
    .to-do-list {
        height: 200px;
        margin-left: 0rem;
        margin-top: 1rem;
        /* height: 48vh; */
        width: 100%;
    }
     .add-btn{
        visibility: visible;
    }  */
    /* ----------------newadd 08/22------------- */
    .nav{
        position: fixed;
        display: none;        
        z-index: 1;

    }   
    .footer{
        display: flex;
        z-index: 3;
    }
}