.mainContainer{
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.creatACTable{
    margin: 30px auto;
    margin: 2;
    
    width: 83%;
    text-align: center;
    border-radius: 14px;
}
.creatACTable h1{
    padding-top: 130px;   
    
}
#creatAcBtn{
    color:#216cf3d9;
    width: 170px;
    height: 25px;
    margin: 20px;
    font-weight: 700;
}
#creatAcBtn:hover{
    color: blue;
    height: 26px;
    width: 172px;
}
form p{
    padding: 0px 0px 20px;
}
form input{
    border-radius: 5px;
}

.signUp{
    color:#216cf3d9;
    text-decoration: none;
}
.signUp:hover{
    color: blue;
}
