*{
    margin: 0;
    padding: 0;     /* 0819add */
    font-family: 'Noto Sans JP', sans-serif;

}

.section{
    display: flex;
    height: 100vh;
}
.hidden{
    display: none ;
}
.show{
    display: block !important;
    /* display: flex; */
}
/* navbar */
/* .container {
    display: flex;
    overflow: hidden;
  } */
  .nav{
    flex: 1;
    display: block;
    background-color: #216cf3d9;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .nav-greet{
    display: flex;
    align-content: flex-end;
    padding: 5px;
    color: white;
  }
  h2.greeting{
    /* background: repeating-radial-gradient(#8bf7e4ed, transparent 240px); */
    box-shadow: 2px 4px 5px rgb(2 20 20 / 20%);
    letter-spacing: 6px;
    height: fit-content;
    width: max-content;
    padding: 45px 50px;   
    color: white;
  }
  .nav-menu-item{
    box-shadow: 2px 4px 5px rgb(2 20 20 / 20%);
    color: #ffffffcf;
    margin: 5px;
    height: 2rem;
    padding: 18px;
    font-weight: 700;
    font-size: 20px;
  }
  .nav-menu-item:hover{
    color: white;
    background: #ffffff17;
  }
  a{
    text-decoration: none;
    color: black;
    padding: 5px;
  } 
  .main-body{
    flex: 5;
    width: 75%;
    height: 100vh;   
  }
  .mobile-nav{
    display: none;
  }
  .mobile-nav-bottom{
    display: none;
  }

  
/* navbar */

.memolist{
    background-image: url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1543844649000/photosp/b43cfeec-92b2-4f16-98b7-60a33b4b513a/stock-photo-text-background-list-minimalism-bulletin-board-to-do-cork-board-texture-background-room-for-text-b43cfeec-92b2-4f16-98b7-60a33b4b513a.jpg)
}

.rightMain{
    background-color:lightgray;
}

.popup-wrapper, .popup-update-area {    
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.add-memo{    
    border-radius: 15px;
    border: 2px solid rgba(59, 59, 255, 0.5);
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;    
    background: white;    
}
#add-memo-delete-btn,#popup-memo-close-button{
    left: 299px;
    position: relative;
    
}
#type{
    color:rgba(59, 59, 255, 0.8);
    margin-left: 55px;
    width: 113px;
    border-radius: 4px;
    height: 23px;
}
#name{
    color:rgba(59, 59, 255, 0.8);
    margin-left: 8px;
    width: 110px;   
    height: 19px;
}
#duedate{
    color:rgba(59, 59, 255, 0.8);
    margin-left: 24px;
    width: 110px;
}
.add-form{
    color: rgba(59, 59, 255, 0.5);
    padding: 20px;
}
.update-form{
    color: rgba(59, 59, 255, 0.5);
    padding: 20px;
}
.add-form svg:hover{
    transform: scale(1.1);
}
form textarea{    
    display: block;
    margin: 5px;
}
form div{
    padding: 4px;
}
div select{
    border-radius: 3px;
    width: 132px;
    height: 23px;   
}
#submit-btn, #update-btn{
    padding: 4px;
    width: 56px;
    border-radius: 12px;
    background: rgba(59, 59, 255, 0.5);
    color: #8bf7e4ed;    
}
#submit-btn:hover, #update-btn:hover{
    transform: scale(1.1);
}
.update-btn{
    /* fill:#8bf7e4ed; */
}
.update-btn:hover{
    transform: scale(1.2);
}
.rightMain{
    width: 100%;    
    overflow: auto;          
}
.welcome-text{
    padding: 5px 0px 0px 5px;
    margin: 5px 0px 0px 5px;
    color: #216cf3d9;
}
    

.today-date {
    word-spacing: 2px;
}


.miniFunction{
    display: flex;
    justify-content: flex-end;
}

#gridFun1:hover{
    transform: scale(1.2);
}
#gridFun3{
    margin-right: 9px;
    padding: 7px;
    transform: scale(1.1);
}
#gridFun3 svg:hover{
    transform: scale(1.2);
}
/* .gridFunction img{
    width: 35px;
    padding: 0px 10px;
} */
.swatches{
    display: none;
    width: 80px;    
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid gray;    
    position: absolute;
    right: 35px;
    background: white;
    
}
.colorBox{    
    padding: 1px;
    margin: 5px;
    width: 13px;
    height: 13px;
}
.memolist{         
    display: grid;
    /* justify-content: start; */
    grid-template-columns: 17ch 17ch 17ch 17ch;
    /* grid-template-columns: auto auto auto auto; */
   
}
.memo{
    width:16rem;    
    margin: 16px;
    box-shadow: 2px 4px 5px rgb(71 61 128 / 22%);
    background: #ffffff9e;
    border-radius: 10px
}
.memo:hover{
    background: #ffffffc7;
}

/* color */
.blue{
    color:#216cf3d9;
}
.orange{
    color:#f46236d1;
}
.green{
    color:#2ec578c7;
}
.yellow{
    color:#f3d921d9;
}
.purple{
    color:#673ab7d4;
}
.bg-red{
    background-color:#f00555d9;;
}
.bg-orange{
    background-color:#f46236d1;
}
.bg-yellow{
    background-color:#f3d921d9;
}
.bg-green{
    background-color:#2ec578c7;
}
.bg-green2{
    background-color:#00bcd4;
}
.bg-blue{
    background-color:#216cf3d9;
}
.bg-purple{
    background-color:#673ab7d4;
}
.bg-gray{
    background-color: gray;
}
.bg-black{
    background-color: black;
}

.work, .WORK{
    background:#3274ebd6;
}
.family, .FAMILY{
    background:#f46236d1;
}
.personal, .PERSONAL{
    background:#2eeb8a;
}
.bg-yellow{
    background:#f3d921d9;
}
.bg-purple{
    background:#673ab7d4;
}

.todoDate{
    display: none;
}
.memoTopBorder{    
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    height: 6px;
}
.delete-btn{
    border-radius: 100px;
    padding: 3px; 
}
.delete-btn:hover{
    transform: scale(1.1);
}
.memoTopBar{
    display: flex;
    justify-content: space-between;
}
.memoType{
    width: 68%;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 6px;
    background: #2957d9a6;
    margin: 13px;
}

.memoContent{    
    padding: 0px 10px 10px 13px;
    line-height: 20px;
}
.description{
    width: 92%;
    overflow-wrap: break-word;
}
.memoMiniFunction{
    padding: 10px;
}

/* mobile */

/* .mobileSeccion{
    width: 100%;
    background: #9e9e9e26;  
} */
.mobileTopBar{
    display: flex;
    justify-content: space-between;
}
.todayTodo{
    display: none;
    padding: 15px;
    color: #2424cee3;
}
.tomorrowTodo{
    display: none;
    padding: 15px;
    color:#f3d921d9;
}

.Category{
    padding: 5px 14px;
    margin: 13px;
    border-radius: 11px;
    background: #216cf33d;;

}
.mobileMiddle{
    height: 450px;
    background: #f5deb32e;
}
.add-btn{
    /* visibility: hidden; */
    background: #216cf3d9;
    border-radius: 79px;
    color: #ffffffcf;
    font-size: 36px;
    padding: 2px 18px;
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 100;
}
.add-btn:hover{
    color: white;
    transform: scale(1.1); 
    background: repeating-radial-gradient(#8bf7e4ed, transparent 40px);
    
}
/* .countDiv{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    color: white;
} */
.footer{
    display: none;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 14px 5px 12px rgb(71 61 128 / 67%);
    
}

.footer button:hover{    
    box-shadow: inset 5em 10em #26262812;
}
    

@media screen and (max-width: 1060px) {   
    .nav{
        top: 0;
        position: fixed;
        display: none;
        z-index: 1;
        bottom: 55px;
    }   
    .nav-menu-item{
        height: unset;
    }
    .footer{
        background: white;
        height: 55px;
        display: flex;
        z-index: 3;
    }
    .footer button ,.footer button a{
        transform: scale(1.5);
        border: none;
        padding: 0px 13px 0px 13px;
        background: none;
    }
    .memolist {        
        grid-template-columns: auto auto auto;
    }
    .miniFunction ,.countDiv{
        display: none;
    }
  }
@media screen and (max-width:500px){    
    
     .nav-menu{
        height: 100%;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .welcome-text{
        display: none;
    }
      .visibility{
        visibility:visible;
      }
      .main-body{
        width: 100vw;
        height: 100vh;    
      }
      .mobile-nav{
        /* display: block; */
        /* background-color: white; */
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* z-index: -1; */
      }
      .nav-banner{
        height: 15vh;
        /* background-color: rgba(59, 59, 255, 0.7); */
        padding: 5px;
      }
      /* .nav-banner h3{
         color: white; 
        position: relative;
        z-index: 1;
        top: 50px
      } */
      .nav-dropdown{
        display: flex;
        flex-direction: column;  
        padding: 5px;
      }
      .nav-dropdown-btn{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      .nav-dropdown-item{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      hr{
        margin-left: 10px;
        margin-right: 10px;
      }
      .nav-function{
        display: flex;
        flex-direction: column;
        padding: 5px;
      }
      .nav-function-item{
        color: black;
        text-decoration: none;
        padding: 5px;
      }
      .mobile-nav-bottom{
        display: flex;    
        position: sticky;
        top: 95vh;
        justify-content: space-around;
        align-content: center;
        z-index: 1;
      }
      .mobile-nav-icon{
        font-size: 30px;    
      }
     .memo{        
        width: 100%;  
        margin: 0;      
    }    
    .memoType{
    } 
       
    .add-btn{
        visibility: visible;
    }   
    
    .memolist{        
        justify-content:center;
        display: grid;
        grid-gap: 30px;
        /* grid-template-rows: auto; */
        grid-template-columns: none;
    }
    .memoContent{
        color: #2424cee3;
        margin: auto;
        padding: 17px 10px;
    } 
}